<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Shared.css" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="~/images/mainpage/logo/Favicon2.png" />
</head>
<body class="container-fluid mb-0 websitelayout">
    <header>       
        <div class="nav-layout">
            <div class="max-width">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/mainpage/logo/heath up logo_Colour.png" /></a>
            </div>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse max-width navfontsize">
                        <ul class="navbar-nav flex-grow-1 justify-content-center ">
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-margin titlefont" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark nav-margin titlefont" asp-area="" asp-controller="Product" asp-action="Index" id="product">Product</a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("All", "Index", "Product", new { searchcolumn = "Category", sort = "All" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("New", "Index", "Product", new { searchcolumn = "Category", sort = "New" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Green Mussel", "Index", "Product", new { searchcolumn = "Category", sort = "Green Mussel" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Colostrum", "Index", "Product", new { searchcolumn = "Category", sort = "Colostrum" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Propolis", "Index", "Product", new { searchcolumn = "Category", sort = "Propolis" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Omega 3", "Index", "Product", new { searchcolumn = "Category", sort = "Omega 3" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Red Krill Oil", "Index", "Product", new { searchcolumn = "Category", sort = "Red Krill Oil" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Policosanol", "Index", "Product", new { searchcolumn = "Category", sort = "Policosanol" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Royal Jelly", "Index", "Product", new { searchcolumn = "Category", sort = "Royal Jelly" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Evening Primrose Oil", "Index", "Product", new { searchcolumn = "Category", sort = "Evening Primrose Oil" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Spirulina", "Index", "Product", new { searchcolumn = "Category", sort = "Spirulina" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Manuka Honey", "Index", "Product", new { searchcolumn = "Category", sort = "Manuka Honey" }, new { @class = "dropdown-item" })
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-margin titlefont" asp-area="" asp-controller="Article" asp-action="Index">Health Article</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-margin titlefont" asp-area="" asp-controller="Story" asp-action="Index">Our Story</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="searchbar">
            <form class="form-inline" action="@Url.Action("SearchProduct", "Product")">
                <input class="form-control mr-sm-2 searchbox" type="text" placeholder="Search Products" id="name" name="name" />
                <button class="btn btn-outline-light my-2 my-sm-0 searchbutton" type="submit">Search</button>
            </form>
        </div>
    </header>
    <div class="container-fluid p-0">
        <main role="main">
            <div class="bodymargin overflow-hidden">
                @RenderBody()
            </div>           
        </main>
    </div>

    <footer class="text-muted footerlayout bodymargin">
        <div class="container-fluid overflow-hidden">
            <div class="footer_menu_layout">
                <a class="footertext" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo-footer" src="~/images/mainpage/logo/heath up logo_White.png" /></a>
            </div>
            <div class="footer_menu_layout">
                <div class="footertext">
                    <a class="footermenulink" asp-area="" asp-controller="Story" asp-action="Index"><p class="footerheading"><strong>CONTACT US</strong></p></a>
                    <p class="footermenumargin"><strong>Phone: </strong>+64 9 442 5992</p>
                    <a class="footermenulink" href="~/Story/Index/#contact"><p class="footermenumargin"><strong>Email: </strong>info@healthup.co.nz</p></a>
                </div>
            </div>
            <div class="footer_menu_layout">
                <div class="footertext">
                    <p class="footerheading"><strong>HEALTHUP</strong></p>
                    <a class="footermenulink" asp-area="" asp-controller="Product" asp-action="Index"><p class="footermenumargin">Our Products</p></a>
                    <a class="footermenulink" asp-area="" asp-controller="Article" asp-action="Index"><p class="footermenumargin">Health Article</p></a>
                    <a class="footermenulink" asp-area="" asp-controller="Story" asp-action="Index"><p class="footermenumargin">Our Story</p></a>
                </div>
            </div>
        </div>
        <div class="max-width">©<script>document.write(new Date().getFullYear())</script> HealthUP Ltd. Auckland. All Rights Reserved.</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
