@model List<HealthUp.ViewModel.ProductViewModel>;
@{
    ViewData["Title"] = "Product";
    <link href="~/css/product.css" rel="stylesheet" />
    <link href="~/css/Shared.css" rel="stylesheet" />
}

<div class="productbanner">
    <p class="producttitle">OUR PRODUCTS ARE MADE TO ENABLE PEOPLE TO LIVE HEALTHY LIFE</p>
</div>
<div class="sortbylayout">
    <p class="brandcolor sortbytitle">SORT BY</p>
    <ul class="nav nav-pills mb-3 sortbutton" id="pills-tab" role="tablist">
        <li class="nav-item sortbybutton">
            <a class="nav-link active sortbybuttontext" id="pills-home-tab" data-toggle="pill" href="#pills-productrange" role="tab" aria-controls="pills-home" aria-selected="true">PRODUCT RANGE</a>
        </li>
        <li class="nav-item sortbybutton">
            <a class="nav-link sortbybuttontext" id="pills-profile-tab" data-toggle="pill" href="#pills-function" role="tab" aria-controls="pills-profile" aria-selected="false">FUNCTION</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active sortbytextbox" id="pills-productrange" role="tabpanel" aria-labelledby="pills-home-tab">
            @foreach (var category in ViewBag.Categories)
            {
                <button class="sortbytext category" onclick="findcategory('@category.Name')">@category.Name</button>
            }
        </div>
        <div class="tab-pane fade sortbytextbox" id="pills-function" role="tabpanel" aria-labelledby="pills-profile-tab">
            @foreach (var function in ViewBag.Functions)
            {
                <button class="sortbytext function" onclick="findfunction('@function.Name')" >@function.Name</button>
            }
        </div>
    </div>
</div>

<div id="productlist">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="productlayout">
                <a class="notextdecoration" href="@Url.Action("FindName", "Product", new { id = @item.Id })">
                    <img class="maxwidth" loading="lazy" src=@item.ThumbnailImage />
                    <div class="productbutton">
                        @item.Name @item.Capsule
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <div class="productlayout">
            <p>No Result Found.</p>
        </div>
    }
</div>


<script type="text/javascript">

    function findcategory(input) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("FindCategory", "Product")',
            dataType: 'json',
            data: {
                name: input
            },
            success: function (data) {
                var result = data;
               createImage(result)
            }
        });
    }

        function findfunction(input) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("FindFunction", "Product")',
            dataType: 'json',
            data: {
                name: input
            },
            success: function (data) {
                var result = data;
               createImage(result)
            }
        });
    }

    function createImage(obj) {
        var strDOM = "";

        for (var i = 0; i < obj.length; i++) {
            var image = obj[i];

            strDOM += "<div class='productlayout'>" 
            strDOM += "<a class='notextdecoration' href='Product/FindName?id=" + image.id + "'>"
            strDOM += "<img class='maxwidth' loading='lazy' src=" + image.thumbnailImage + " />"
            strDOM += "<div class='productbutton'>" + image.name + "</div></a></div>";
        }
        document.getElementById('productlist').innerHTML = strDOM;
        
    }

    function findFunction(input) {
        alert(input);
    }

</script>