@model HealthUp.ViewModel.ProductViewModel
@{
    ViewData["Title"] = "Detail";
    <link href="~/css/Shared.css" rel="stylesheet" />
    <link href="~/css/product.css" rel="stylesheet" />
}

<div class="productdetailcolor">
    <h5 class="productdetailcategory textfont">Products / <strong class="titlefont">@Model.Category[0]</strong></h5>
    <div class="halfwidth productdetaillayout">
        <div class="max-width">
            <img id='featured' src=@ViewBag.Images[0]>
            <div id="slide-wrapper">
                <button class="arrow" id="slideLeft">&#10094;</button>
                <div id="slider">
                    @foreach (var item in ViewBag.Images)
                    {
                        if (item == ViewBag.Images[0])
                        {
                            <img class="productthumbnail active" src=@item>
                        }
                        else
                        {
                            <img class="productthumbnail" src=@item>
                        }
                    }
                </div>
                <button class="arrow" id="slideRight">&#10095;</button>
            </div>
        </div>
    </div>
    <div class="halfwidth productdetaillayout">
        <p class="productdetailname brandcolor titlefont">@Model.Name</p>
        <p class="productdetaildescription textfont">@Html.Raw(Model.Description)</p>
    </div>
</div>

<div class="productdetailnav">
    <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link width-30 float-left productdetailnavmenu titlefont active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">INGREDIENTS</a>
        <a class="nav-link width-30 float-left productdetailnavmenu titlefont" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">BENEFITS & SIZE</a>
        <a class="nav-link width-30 float-left productdetailnavmenu titlefont" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">DIRECTION OF USE</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <p class="titlefont tabcontentmargin">EACH CAPSULE CONTAINS</p>
            <p class="textfont">@Html.Raw(@Model.Ingredient)</p>
            <p class="titlefont tabcontentmargin">CONATINS NO ADDED</p>
            <p class="textfont">@Model.ContainNoAdded</p>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <p class="titlefont tabcontentmargin">BENIFITS</p>
            <p class="textfont">@Html.Raw(@Model.Benefits)</p>
            <p class="titlefont tabcontentmargin">SIZE</p>
            <p class="textfont">@Model.Size</p>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <p class="titlefont tabcontentmargin">DIRECTION OF USE</p>
            <p class="textfont">@Html.Raw(@Model.Dosage)</p>
        </div>
    </div>
</div>

<script src="~/js/prodyctdetail.js"></script>