
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href='@Url.Action("CreateProduct","Admin")'>
    <input type="button" value="Create" />
</a>
<table>
    <thead>
        <tr>
            <td>No.</td>
            <td>Name</td>
            <td>Functions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.number</td>
                <td>@item.name</td>
                <td>
                    @Html.ActionLink("Update", "ProductUpdate", "Admin", new { id = item.id })
                    @Html.ActionLink("Delete", "Delete", "Admin", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>