@model HealthUp.ViewModel.ProductViewModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

@using (Html.BeginForm("ProductUpdate", "Admin", FormMethod.Post))
{
    @Html.LabelFor(m => m.name);
    @Html.TextBoxFor(m => m.name);
    @Html.LabelFor(m => m.description);
    @Html.TextBoxFor(m => m.description);
    @Html.LabelFor(m => m.benefits);
    @Html.TextBoxFor(m => m.benefits);
    @Html.LabelFor(m => m.size);
    @Html.TextBoxFor(m => m.size);
    <input type="submit" value="Submit" />
}