@model HealthUp.DataModel.Email
@{
    ViewData["Title"] = "Story";
    <link rel="stylesheet" href="~/css/story.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="~/js/story.js"></script>
}

<div class="storybanner">
    <p class="storybannertext titlefont">OUR STORY</p>
</div>

<div>
    <div class="storyrighttextpadding float-left">
        <div>
            <p class="titlefont brandcolor storytitle">OUR VISION & MISSON</p>
            <p class="textfont storybody">We aim to keep our communities healthy through our business, serve them with humility and honesty, and help the underprivileged.</p>

            <ul>
                <li>
                    <p class="textfont storybody">We supply the right health supplements through high-quality ingredients for the health of our customers.</p>
                </li>
                <li>
                    <p class="textfont storybody">We use some of our revenue to help people and organisations in need.</p>
                </li>
            </ul>            
        </div>
    </div>
</div>

<img class="max-width middle1" src="~/images/ourstory/Our-Story-middle.jpg" />
<img class="max-width middle2" src="~/images/ourstory/M-Our-Story-middle-new (1).jpg" />
<div>
    <div class="halfwidth float-left storycontact paddingleft-10">
        <div class="contactbox">
            <p class="titlefont brandcolor contacttitle">CONTACT US</p>
            <p><strong>Phone: </strong>+64 9 442 5992</p>
            <p><strong>Email: </strong>info@healthup.co.nz</p>
            <p><strong>Address: </strong>HealthUP Ltd.</p>
            <p>129 Onewa Road, Northcote, Auckland</p>
        </div>
        <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
            <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
            <a href="https://1map.com/map-embed">1 Map</a>
        </div>
    </div>
    <div class="halfwidth float-left storycontact" id="contact">
        <div class="contactbox">
            <p class="mb-2">For any questions or you’d like to know more about what we do simply reach out to us at <strong>info@healthup.co.nz</strong> or fill out the form below. </p>
            <p>Our team will get back to you as soon as possible.</p>
        </div>

        @Html.LabelFor(m => m.Name, new { @class = "emailbox font-weight-bold" })
        @Html.TextBoxFor(m => m.Name, new { @class = "emailbox", id = "customername" })
        @Html.LabelFor(m => m.EmailAddress, new { @class = "emailbox font-weight-bold" })
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "emailbox", id = "email" })
        @Html.LabelFor(m => m.Message, new { @class = "emailbox font-weight-bold" })
        @Html.TextAreaFor(m => m.Message, new { @class = "emailbox emailtextarea", id = "message" })
        <button class="sendbutton" onclick="SendEmail()">SEND</button>
        <div class="result" id="result">
            <p class="alert-success" id="success1"></p>
            <p class="alert-danger" id="errormessage"></p>
        </div>
    </div>
</div>

<img class="max-width" src="~/images/ourstory/Our-Story_bottom.jpg" />

<script src="js/main.js"></script>
<script>
    function SendEmail(){
      $.ajax(
      {
        type: "POST",
        url: '@Url.Action("SendEmail", "Story")',
        data: {
          Name: $("#customername").val(),
          Email: $("#email").val(),
          Message: $("#message").val()
        },
        error: function (result) {
            document.getElementById("errormessage").innerHTML = result;
        },
        success: function (result) {
            if (result == "Your Email Sent Successfully!") {
                document.getElementById("success1").innerHTML = result;
                document.getElementById("errormessage").innerHTML = "";
                $("#customername").val("");
                $("#email").val("");
                $("#message").val("");
            }
            else {
                document.getElementById("errormessage").innerHTML = result;
                document.getElementById("success1").innerHTML = "";
            }                       
        }
      });
    }
</script>